body {
  background-color: #ffe0f7;
  }

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }

  h1 {
    color: #00bcd4
  }

  h3 {
    color: #00bcd4
  }

.welcome img {
  border: 5px solid #ff427f;
}
