body {
  background-color: #d6e0f0;
  }

hr {
    border-style: none;
    border-top-style: dotted;
    border-color: grey;
    border-width: 5px;
    width: 5%;
  }

  h1 {
    color: #00bcd4
  }

  h3 {
    color: #00bcd4
  }

.welcome img {
  border: 5px solid #ff4b5c;
}
